/* Основа */
h1,h2,h3,p,ul,a{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.item{
   display: flex;
}
.title{
    color: #fff;
    border: pink 2px;
    width: 561px;
    height: 170px;
    font-family: inter;
    font-size: 70px;
}
.text{
    color: #fff;
    width: 570px;
    height: 80px;
    font-family: inter;
    font-size: 14px;
}
.list{
    display: flex;
    justify-content: space-around;
    width: 558px;
}
.section{
    background-image: url(./photo_2022-06-05_13-14-26\ 1fon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 45px;
    padding-bottom: 36px;
}
.title2{
    color: #fff;
    font-family: inter;
    font-size: 64px;
    display: flex;
    justify-content:center;
    margin: 0;
}
.pos{
    color: #fff;
}
.poq{
    color: #fff;
}
.pow{
    color: #fff;
}
.poe{
    color: #fff;
}
.por{
    color: #fff;
}
.button{
    width: 207px;
    height: 57px;
    font-family: inter;
    font-size: 24px;
    background-color: #B47B48;
    border-radius: 17px;
    color: #fff;
}
.list1{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.btn{
    width: 79px;
    height: 34px;
    font-family: inter;
    font-size: 16px;
    background-color: #C85312;
    color: #fff;
}
.sect1on{
     background: #202023;
     background-position: center;
}
.title3{
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: italiana;
    font-size: 64px;
    margin: 0;
}
.item2{
    display: flex;
    background-color: #272727 ;
}
.cooki3{
    background: #EBAD51;
    width: 310px;
    height: 225px;
    display: flex;
}
.cooki2{
    width: 310px;
    height: 225px;
    
}
.list2{
    justify-content: space-between;
}
.item3{
background: #202023;
}
.text-title{
    color: #fff;
    font-family: inter;
    font-size: 25.92px;
    margin: 0;
}
.but{
    color: #fff;
    background-color: #B47B48;
    border-radius: 17px;
    width: 160px;
    height: 41px;
    font-family: inter;
    font-size: 25.92px;
}
.section2{
    background-color: #202023;
}
.item4{
    color: #fff;
    font-size: 24px;
    font-family: inter;
}
.section3{
    background-image: url(./photo_2022-06-23_21-45-36\ 1fonx.png);
}
.last-title{
    font-family: italiana;
    font-size: 48px;
    color: #fff;
    margin: 0;
}
.list3{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.img1{
    width: 218px;
    height: 183px;
}
.img2{
    width: 218px;
    height: 194px;
}
.img3{
    width: 218px;
    height: 183px;
}
.section4{
    background-color: #202023;
}
.where{
    font-family: italiana;
    font-size: 48px;
    color: #fff;
    margin: 0;
}
.item5{
    color: #fff;
    font-family: inter;
    font-size: 24px;
}
.va{
    color: #fff;
}
.ba{
    color: #fff;
}
.footer2{
    background-color: #202023;
}
.item6{
    color: #fff;
font-family: inter;
font-size: 24px;
}
.fq{
    color: #fff;
}
.fw{
    color: #fff;
}
.fe{
    color: #fff;
}
.fr{
    color: #fff;
}
.title-last{
    font-size: 40px;
}
.item3.bakery{
    background-image: url(/puff.png),url(/pngwingbk2.png),url(/klipartzbk1.png);
    background-position: 0px 0px, 100px 100px, 0px 0px;
    background-repeat: no-repeat;
    width: 328px;
    height: 229px;
    border: 1px solid #fff
    ;
}